<?php include ROOT . '/view/layouts/header.php'; ?>
    <section class="content">
        <div class="container">
            <div class="row">
                <h2>Пользовательское соглашение</h2>

                <p>Данное Соглашение создано с целью упорядочить общение на сайте «Craft-shop» (далее — Сайт). Правила соглашения являются обязательными для исполнения всеми Пользователями Сайта. Настоящее Соглашение может быть изменено и/или дополнено Администрацией Сайта без какого-либо специального уведомления. </p>

                <p>Мы рекомендуем периодически проверять условия настоящего Соглашения на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</p>

                <p>Соглашение вступает в силу с 27 февраля 2019 года.</p>

                <h4>1. Основные положения</h4>
                <p>1.1. Зарегистрированный Пользователь имеет право публиковать свои (или своих детей и учеников) работы, записи, мастер-классы, фотографии, видео и другую информацию (далее — Материалы), соответствующие тематике Сайта (развитие творческих способностей, оттачивание мастерства и гармоничное существование в окружающем мире). Отправлять личные сообщения другим Пользователям, комментировать Материалы Сайта, участвовать в опросах и голосованиях. Пользователь разрешает ставить на загружаемые им на Сайт фотографии копирайт «© Craft-shop».</p>

                <p>1.2.1. Основным языком на сайте является русский, однако, использование других языков допустимо. Настоятельно рекомендуется писать грамотно.</p>

                <p>1.2.2. Поскольку полноправными пользователями сайта являются дети, запрещается публикация материалов, не подходящих для детской аудитории по морально-этическим нормам: эротика, алкоголь, курение, агрессия, нецензурные выражения и т.п. На Сайте допустимы работы с использованием бутылок, но на изображении не должно быть видно однозначных признаков алкоголя в бутылках (акцизных марок, названия алкогольного напитка, названия фирмы выпускающей алкогольную продукцию и т.п.). См. О цензуре на сайте.</p>

                <p>1.3. Не желательно дублирование Материалов Сайта и других записей без необходимости, спам, флейм, флуд, размещение бессодержательных сообщений, использование Сайта в качестве чата или для личной переписки, использование чрезмерно большого количества смайлов, анимированных картинок объемом больше 50 Кб, частые (более 2 раз в год) изменения имени пользователя, использование транслита (написание русского текста латинскими буквами), а также использование без необходимости ЗАГЛАВНЫХ БУКВ.</p>

                <p>1.4. Запрещается публиковать на сайте просьбы выслать что-либо по почте (электронной или любой другой), публиковать просьбы проголосовать на конкурсах, устраиваемых на сторонних ресурсах, публиковать просьбы подписаться на каналы, группы, сайты.</p>

                <p>1.5. Запрещается размещать коммерческую рекламу или иную информацию коммерческого характера.</p>

                <p>1.6. Запрещается передавать свои учетные данные (имя пользователя и пароль) другим лицам.</p>

                <p>1.8. Запрещается публиковать провокационные сообщения с целью вызвать флейм, конфликты между участниками, взаимные оскорбления, пропаганда или агитация, возбуждающие социальную, расовую, национальную, религиозную ненависть или иную вражду. Запрещается пропаганда социального, расового, национального, религиозного или языкового превосходства.</p>

                <p>1.9. В связи с тем, что мы не обладаем необходимыми ресурсами для проверки информации, содержащей просьбы о перечислении средств на лечение, операции и пр, и для того, чтобы избежать спекуляции на подобных темах, на сайте запрещена публикация сообщений, содержащих такую информацию. В исключительных случаях просим вас обращаться к администрации сайта через форму контактов.</p>

                <p>1.10. При публикации записей в своем блоге Пользователь должен правильно выбирать тип работы, технику выполнения, событие и материалы из предлагаемых Сайтом списков. Если в списках нет подходящих категорий, Пользователь должен выбрать наиболее подходящий пункт. Выбор категорий определяет размещение публикуемой пользователем записи в соответствующих разделах сайта. Публикуя свои записи в разделах сайта, Пользователь соглашается с правилами этих разделов и обязуется им следовать.</p>

                <h4>2. Соблюдение авторских прав</h4>
                <p>2.1. Закон об авторском праве   действует во всех странах мира, действует он и на сайте Craft-shop.</p>

                <p>2.2. На Сайте не допускается размещать Материалы, которые могут нарушать права и интересы других людей.</p>

                <p>2.3. Запрещается не указывать имена авторов, публикуемых Пользователем Материалов, или источники публикаций (ссылки или выходные данные книг). Ссылки не должны нарушать требования п. 2.4. На фото из интернета запрещается ставить свой авторский логотип или логотип сайта.</p>

                <p>2.4. Разрешается публиковать ссылки на другие сайты, группы, альбомы в интернете, только если информация, опубликованная в них, близка к тематике Сайта (творчество для детей и взрослых) и для просмотра этой информации не требуется регистрация. Запрещается публиковать ссылки на коммерческие сайты, в том числе: интернет-магазины, платные мастер-классы и т.п.</p>

                <p>2.5. При публикации материалов Сайта в интернете или в печатных изданиях, в обязательном порядке требуется ссылка на Сайт и разрешение автора Материала.</p>

                <p>2.6. Не требуется специального разрешения при использовании Материалов Сайта для личных целей или для нужд учебного процесса в детском саду, в школе, в кругу семьи, если это не требует массового тиражирования и распространения Материалов Сайта.</p>

                <p>2.7. Все объекты, размещенные на Сайте, в том числе элементы дизайна, тексты, графические изображения, программы, являются объектами исключительных прав их авторов и Администрации и других правообладателей, все права на эти объекты защищены.</p>

                <p>2.8. Поскольку авторское право не распространяется на идеи и методы (см. авторское право), на Сайте запрещается выражать протест, а также жаловаться Администрации по поводу использования "чужих" идей и методов без разрешения или без ссылок куда-либо.</p>

                <h4>3. Администрация и Помощники</h4>
                <p>3.1. Контакты Администрации Сайта публикуются на странице: "Контакты".</p>

                <p>3.2. Помощники сайта выбираются Администрацией из числа активных и грамотных Пользователей. Назначение Помощников происходит добровольно и по обоюдному согласию. Должность Помощника сайта является почетной, и Администрация Сайта многие вопросы, связанные с работой Сайта, обсуждает с Помощниками. При решении вопросов, прислушивается к их мнению. Помощник может в любое время отказаться от своей должности, уведомив об этом Администрацию.</p>

                <p>3.3.1. Администрация и Помощники Сайта имеют право редактировать и снимать с публикации материалы и комментарии, не соответствующие настоящему Соглашению, а также публично уведомлять Пользователей о нарушении Соглашения и выносить предупреждения. При систематическом игнорировании предупреждений, имеют право запретить авторизованный доступ Пользователя к сайту путем блокировки учетной записи пользователя. Записи заблокированного пользователя, не нарушающие настоящее Соглашение, остаются опубликованными на Сайте, (в случае временной блокировки) или подлежат удалению с Сайта (в случае постоянной блокировки).</p>

                <p>3.3.2. Администрация и Помощники Сайта имеют право изменять категории загруженных пользователями записей в соответствии с принятыми на сайте описаниями категорий — тип работ, техника, материал, событие, а также публично уведомлять Пользователей о несоблюдении категории сайта и выносить предупреждения. После публикации записи на сайте пользователям запрещается изменять ее тип работы.</p>

                <p>3.4. Ни Администрация, ни Помощники Сайта не несут ответственности за действия, производимые другими Пользователями.</p>

                <p>3.5. Администрация Сайта не занимается предварительной модерацией или цензурой информации Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта.</p>

                <p>3.6. Cайт и его оформление поставляются «как есть». Администрация отказывается от всяких гарантий того, что Сайт или его сервисы могут подходить или не подходить для конкретных целей использования. Администрация не может гарантировать и не обещает никаких специфических результатов от использования сайта и/или его сервисов.</p>

                <p>3.7. Администрация сохраняет за собой право изменять Сайт и его оформление, в любое время с предварительным уведомлением или без такового.</p>

                <p>3.8. Сайт, его Администраторы и Помощники никогда не просят Пользователей отправить СМС на какой-либо номер, выслать пароль к своей учетной записи, перевести деньги на какой-либо счет. </p>

                <p>3.9. В случае возникновения спорных ситуаций Пользователи сайта могут обратиться к Администрации сайта через форму контакта. Окончательное решение в спорных ситуациях принимает администрация сайта. Запрещается публично обсуждать на Сайте действия Помощников и Администрации.</p>

                <h4>4. Заключительные положения</h4>
                <p>4.1. Администрация не несет ответственности за любые ошибки, упущения, прерывания, удаление, дефекты, задержку в обработке или передаче данных, сбои линий связи, кражу, уничтожение Материалов, размещенных на Сайте или в любом другом месте.</p>

                <p>4.1.1. В случае сбоя на сайте, Администрация вправе обратить внимание Пользователей на факт сбоя, а также обратиться за помощью к Пользователям с целью восстановления последствий сбоя.</p>

                <p>4.2. Администрация не несет ответственности за любой ущерб компьютеру пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, потерю данных и любой другой вред, вызванный или связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.</p>

                <p>4.3. Администрация имеет право проводить необходимые профилактические или иные работы в то или иное время по личному усмотрению с предварительным уведомлением пользователей или без такового. В течение этих работ Сайт или его сервисы могут быть частично или полностью недоступны.</p>

                <p>4.4. Ни Администрация Сайта, ни авторы не несут ответственности за то, что во время просмотра опубликованных на нём материалов, в вас может проснуться неописуемое вдохновение к творчеству, сопровождаемое неутомимым желанием творить и создавать шедевры, привыкание к лицезрению прекрасного, страстное, почти болезненное, увлечение некоторыми заразительными техниками типа модульного оригами и торцевания.</p>

                <p>4.5. Мы рекомендуем вам не проводить на сайте слишком много времени, забывая о ваших неотложных делах и близких. Найдите тот гармоничный стиль жизни в «Craft-shop'e», в котором сочетаются и польза, и радость для вас и ваших близких.</p>

            </div>
        </div>
    </section>
<?php include ROOT . '/view/layouts/footer.php'; ?>